<include file="Common:head" />
<link href="__PUBLIC__/home/templates/default/css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/home/templates/default/css/www.css" rel="stylesheet" type="text/css"/>
<!--<div class="container">container-begin -->
  <div class="pagebody"> <!--pagebody-begin -->
  
    <div class="leftpage"> <!--leftpage-begin -->
	 <b style="color:#008000;font-weight:blod;font-size:20px;margin-left:5px;"> 说说中心 </b>
    <b style="color:#008000;font-weight:blod;font-size:20px;margin-right:25px; float:right"> <a href="__URL__/shuoshuo">发布说说 </a></b>
      <div class="ance" style="margin-top:5px;"> <!-- anoun-begin -->      
                    
        </div> <!-- anoun-end -->
		<volist name="list1" id="vo">
	  <div class="info" style="border-bottom:1px #008000 solid;"> <!-- info-begin -->
        <div class="postinfo">
          <div class="date"> <!-- date-begin -->
            <div class="t">{$vo.si_time|date="m",###}月</div>
            <div class="d"><strong>{$vo.si_time|date="d",###}</strong></div>
          </div> <!-- date-end -->
          <div class="title"><strong><a title="{$vo.si_title}" href="__URL__/index/id/{$vo.si_id}">{$vo.si_title}</a></strong></div>
		  <div class="tinfo">
          <div class="author">作者:{$vo.s_name}</div>
         
          <div class="com" ><a href="#" >{$vo.ping}人评论</a></div>
		  </div><!--tinfo end-->
          <div class="line"></div>
        </div>
        <!-- postinfo-end -->
        <div class="post">内容</div>
       <div class="tag"><?php $con=$vo["si_content"]; echo substr($con,0,120)."……";  ?></div>
        <div class="comnum">评论人数{$vo.ping}<a href="__URL__/index/id/{$vo.si_id}">【我来说两句】</a></div>
      </div>
	  </volist>
      <!-- info-end -->
	  <div class="pages"><div class="page">{$page}          </div></div>
    </div>
    <!--comnumleftpage-end -->
 
     
    </div><!--rightpage-end -->
  </div> <!--pagebody-end -->
  <!-- <div class="clear"></div>-->
<include file="Common:foot" />
<div id="bootom">&nbsp;</div>
  </body>
</html>

