   <include file="Common:head" />
   <link href="__PUBLIC__/home/templates/default/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/home/templates/default/css/www.css" rel="stylesheet" type="text/css"/>

  <div class="pagebody" style="background-color:#FCFAE6"><!--pagebody-begin -->
    
    <div class="leftpage"> <!--leftpage-begin -->
        <div class="down"></div>
	   <div class="comment">
      <div id="form">
    
	<form method="post" action="__MODULE__/shuoshuo" id="form1" name="form1" >
		<p>&nbsp;</p>
		<div class="fieldset">
			<span class="legend">我要说说</span><span class="legend" style="float:right"><a href="__MODULE__/index_select">说说中心</a></span>
            <div  class="none result" style="font-family:微软雅黑,Tahoma;margin-bottom: 10px;font-size:18px;color:green;text-align:center"></div>
			<table style="vertical-align:top;">
				<tr>
					<td><label >发布标题:</label></td>
					<td><input type="text" name="si_title" ></td>
				</tr>	
                 <tr>
					<td><label>发布内容:</label></td>
					<td><textarea name="si_content" id="si_content" cols="0" rows="0" style="width: 450px; height: 100px;"></textarea></td>
				</tr>
			</table>
			<br />
             
			<input type="submit" name="submit" id="dosubmit" value="发表"  />
		</div>
	</form>
</div>
	   </div>
      
   <div class="line10"></div>
    </div><!--leftpage-end -->
 </div>

 <include file="Common:foot" />
  </body>
</html>