<link href="__PUBLIC__/home/templates/default/css/style.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/Home/Tpl/Index/style/style2.css" />

<script type="text/javascript" src="/Home/Tpl/Index/js/jquery-1.8.1.js"></script>
<script type="text/javascript" src="/Home/Tpl/Index/js/index.js"></script>
<include file="Common:head" />
	    <script language="javascript" type="text/javascript">
        $(function () {
            $('.homepage-nav .nav > li').hover(
        function () {
            $('ul', this).stop().fadeIn();
        },
        function () {
            $('ul', this).stop().fadeOut();
        }
      );

            var tabContainers = $('.other-special-item > ul');
            $('.other-special-item h4 a').click(function () {
                tabContainers.stop().slideUp().filter(this.hash).stop().slideDown();

                return false;
            }).filter(':first').click();

        });
    </script>
 <div class="main-wrap">
 <div class="main">
 <div class="content">
<div class="article-single">
        <nav class="article-nav">
<ul>
    <li class="slash"><a href="__MODULE__/Index/index"><i class="icon-home"></i>首页</a></li>
    <li class="slash"><a href="__MODULE__/News/info_select">新闻中心</a></li>
</ul>
</nav>
<h2 style=" font-size:26px; padding-top:20px;">{$info.i_title}</h2>
<div style="clear: both;"></div>
<div style="padding-top:10px;">
作者：<span>{$info.i_name}</span>
时间：<span>{$info.i_time|date="Y-m-d H:i:s",###}</span>
</div>
<div class="article-content">
<p></p><p>
	<if condition="$info.i_photo neq ''"><img alt="" src="__PUBLIC__/Uploads/Info/{$info.i_photo}" width="356" style="float:left;margin-right:15px;"></if></p>
<p >{$info.i_content}</p>
<p style="text-align: right;">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$info.i_name}</p>
<p style="text-align: right;">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$info.i_time|date="Y年m月d日",###}</p><p></p>
<p>&nbsp;</p>
</div></div>
</div>    
<div class="sidebar">
    <div class="other-special">
        <h2 style=" font-size:26px; padding-top:20px; padding-bottom:10px">专题列表</h2>
               <div class="other-special-item">
                   <h4>新闻频道<a href="http://www.sdspring.cn/tbgz#info-board0"><i class="icon-chevron-down"></i></a></h4>
                   <ul id="info-board0" style="height: 218px; padding-top: 0px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; display: none;">			   			   
                       <li><a href="__MODULE__/News/info_select/i_banner/2" <if condition = '$state eq 1'> style="color:#f00"</if> >banner</a></li>
                       <li><a href="__MODULE__/News/info_select/i_state/2" <if condition = '$state eq 2'> style="color:#f00"</if>>部门快讯</a></li>
                       <li><a href="__MODULE__/News/info_select/i_state/3" <if condition = '$state eq 3'> style="color:#f00"</if>>毕业生快讯</a></li>
                       <li><a href="__MODULE__/News/info_select/i_state/4" <if condition = '$state eq 4'> style="color:#f00"</if>>行业快讯</a></li>
                       <li><a href="__MODULE__/News/info_select/i_state/5" <if condition = '$state eq 5'> style="color:#f00"</if>>公告</a></li>
                   </ul>
			   </div>  

    </div>
</div>
        </div>
    </div>
<include file="Common:foot" />