<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>反馈信息添加</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/editor/kindeditor.js"></script>
<script type="text/javascript">
function getclass(){
      var c=$("#grade").val();
     $.get('__ROOT__/admin.php/Common/getclass',{cid:c},function(data){
       $("#class").html(data);
     });
   };
   function getstu(){
      var c=$("#class").val();
     $.get('__ROOT__/admin.php/Common/getstu',{cid:c},function(data){
       $("#stu").html(data);
     });
   };
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
	$(document).ready(function(e) {
    $(".select1").uedSelect({
        width : 345           
    });
    $(".select2").uedSelect({
        width : 150  
    });
    $(".select3").uedSelect({
        width : 150
    });  
});
	 KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
</script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    	<li><a href="__ROOT__/admin.php">首页</a></li>
	    <li><a href="#">反馈信息</a></li>
	    <li><a href="#">添加</a></li>
    </ul>
    </div>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
    	<ul class="seachform">
    	 <li><label>年级</label>  
        <div class="vocation">
        <select class="select3" name="grade" id="grade" onchange="getclass()">
           <option value="">请选择</option>
           <volist name="list" id="vo">
           <option value="{$vo.g_id}" <if condition=" $val.grade eq  $vo.g_id ">selected="selected"</if>>{$vo.g_name}级</option>
           
       </volist>
       
        </select>
        </div>
        </li>
   <li><label>班级</label>  
        <div class="vocation" >
        <select class="select3" name="class" id='class' onchange="getstu()">
          
        </select>
        </div>
        </li>
        <li><label>姓名</label>  
        <div class="vocation" >
        <select class="select3" name="r_sid" id='stu'>
          
        </select>
        </div>
        </li>
    	</ul>
	    
	    <li><label>就业城市：</label><input 	name="r_city" 	type="text" 	class="dfinput" value="" /></li>
	   
	    <li><label>就业公司：</label><input 	name="r_company" 	type="text" 	class="dfinput" value="" /></li>
	    <li><label>公司网址：</label><input 	name="r_url" 	type="text" 	class="dfinput" value="" /></li>
	    <li><label>工作职位：</label><input 	name="r_job" 	type="text" 	class="dfinput" value="" /></li>
	    <li><label>主营项目：</label><input 	name="r_bus" 	type="text" 	class="dfinput" value="" /></li>
	    <li><label>应用技术：</label><input 	name="r_tec" 	type="text" 	class="dfinput" value="" /></li>
	   <li><label>待遇：</label><input 	name="r_dy" 	type="text" 	class="dfinput" value="" /></li>
	   <li><label>转正工资：</label><input 	name="r_pay" 	type="text" 	class="dfinput" value="" /></li>
	   <li><label>实习工资：</label><input 	name="r_spay" 	type="text" 	class="dfinput" value="" /></li>
	   <li><label>就业时间：</label><input 	name="r_stime" 	type="text" 	class="dfinput" value="" /></li>
	   <li><label>离职时间：</label><input 	name="r_etime" 	type="text" 	class="dfinput" value="" /></li>
	   
	    <li id="warp"><label>反馈照片：</label>   <input type="file" id="up_img_WU_FILE_0"  name="file"/>
   					
    </li>
	    
	    <li><label>&nbsp;</label>
	    	
	    	<input name="submit" type="submit" class="btn" value="确认添加"/>
	    </li>
    </ul>
    </div>
</form>
<script type="text/javascript">
$("#tar").css({height:"100px"});
</script>
</body>
</html>