
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>职位列表 </title>
<meta name="description" content="招聘岗位">
<meta name="keywords" content=",职位信息">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="/favicon.ico" />
<link href="__PUBLIC__/home/templates/default/css/global.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/templates/default/css/index-2013.css" rel="stylesheet" type="text/css"> 
<link href="__PUBLIC__/home/templates/default/css/list-global.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/templates/default/css/list-personal.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/home/templates/default/js/jquery.js" type='text/javascript' ></script>
<script src="__PUBLIC__/home/templates/default/js/jquery.dialog.js" type='text/javascript' ></script>
<script src="__PUBLIC__/home/templates/default/js/jquery.highlight-3.js" type='text/javascript' ></script>
<script src="__PUBLIC__/home/templates/default/js/jquery.vtip-min.js" type='text/javascript' ></script>
<script src="__PUBLIC__/home/templates/default/js/jquery.jobs-list.js" type='text/javascript' ></script>
<script src="__PUBLIC__/home/templates/default/js/lpsjob-public.js"  type='text/javascript' ></script>
<script src="__PUBLIC__/home/data/cache_classify.js" type='text/javascript' charset="utf-8"></script>

</head>
<body>
<link href="__PUBLIC__/home/templates/default/css/style.css" rel="stylesheet" type="text/css">
<include file="Common:head" /><div class="container">
  <div class="search-nav clearfix">
    <ul>
      <li id='cur'> <a  class="select">全能搜索</a></li>
    
    </ul>
  </div>
  <div class="resumesearchbox link_bkg" id="resumesearchbox" style="height:50px">
  
    <div class="tsearch-panel1 clearfix" style="margin:5px">
     

      <form  method="get" id="form1" action="">
        <ul >
     
          <li class="li1" >
            <input name="keywords" id="keywords" onFocus="$(this).addClass('cgry')" onBlur="$(this).removeClass()"  class="s0"  type="text" x-webkit-speech="true" />
             
          </li>
          <li class="li2">
            <input type="submit" id="index-search-button" value="" />
          </li>
        </ul>
     
        </form>
      </div>
</div>
  <!--<div class="jobsearchbox" id="jobsearchbox">
    <div class="loading"></div>
  </div>
  <script src="__PUBLIC__/home/templates/default/js/jquery.jobs-search.js" type='text/javascript'></script> 
  <script type="text/javascript">
	var getstr=",,,,,,,,,";
	var defaultkey="请输入职位名称、公司名称关键字...";
	var getkey="";
	if (getkey=='')
	{
	getkey=defaultkey;
	}
	allaround('__PUBLIC__/home/templates/default/','/','__MODULE__/Job/joblist',getkey,getstr);
</script> -->
 <div class="jobs_list_tip link_greenu" id="jobs_list_tip">
<ul>
<li>提醒：凡需先交纳押金、保证金、体检费、材料费、成本费等费用或到指定医院体检等，可能是骗子信息，谨防上当受骗。</li>
<li>提醒：您知道吗？公司招聘时都会搜索简历库，<a href="__MODULE__/Student/personq" target="_blank">免费发布简历</a>，获取更多机会！</li>
</ul>
</div> 
  <!--职位列表 --> 
    <div class="search-main shadow">
    <div class="s-title-main">
      <div class="s-title clearfix">
        <ul>
          <li class="select">
            <label>
              <input name="selectall" type="checkbox" value="" id="selectall"/>
              &nbsp;全选</label>
          </li>
          
          <li class="sort"><a href="" class="select">默认</a></li>
          
          <li style="width:580px"></li>
          <li class="domain spages"><span>每页：</span> 
          <a href="__MODULE__/Job/job_list/num/5"  class="select">5</a>
           <a href="__MODULE__/Job/job_list/num/10" >10</a> 
           <a href="__MODULE__/Job/job_list/num/10" >20</a></li>
          <li class="line-w"></li>
         
        </ul>
      </div>
      <!-- s-title end --> 
    </div>
    <form action="" method="post"  name="formjobslist" id="formjobslist"  target="_blank">
            <div class="d-search">
        <ul>
 <volist name="arr" id="vo" >
                    <li class="list clearfix striking" style="background-color: #fffbe7;">
            <div class="d-s-l">
              <p class="pos_input" style="margin-left:2px;">
                <input name="re_id" type="checkbox" value="{$vo.re_id}"  />
              </p>
              <p class="pos-name">
              <a href="__MODULE__/Company/jobshow/re_id/{$vo.re_id}" class="blue blod" target="_blank" > <span style="color:#ed008c">{$vo.re_job}</span></a>
            		
            	<if condition="$vo.re_jian eq 1">		 <img src="__PUBLIC__/home/templates/default/images/62.gif" border="0" align="absmiddle" title="推荐职位" class="vtip"/>		</if>	  

                           <span class="price">月薪：<font>{$vo.re_money}</font></span></p>
              <p class="pos-info"><a href="__MODULE__/Company/company/co_id/{$vo.co_id}" target="_blank" class="green">{$vo.c_name}</a>			<span class="col-b"> |</span> <a >工作地区：{$vo.re_city}</a> <span class="col-b">|</span> 招聘人数：{$vo.re_sum}人  <span class="col-b">|</span> 工作经验：{$vo.re_year} <span class="col-b">|</span> 截止日期：<font color="red">{$vo.re_endtime}</font>  <span class="col-b">|</span> 联系方式：{$vo.re_tel} <span class="col-b">|</span> 职位悬赏：{$vo.re_shang}  </p>
              <p class="pos-depict"><strong>职位介绍：</strong>{$vo.re_intro}</p>
            </div>
            <div class="d-s-r">
              <p style="position:relative;top:15px;"><a href="__MODULE__/Company/jobshow/re_id/{$vo.re_id}/co_id/{$vo.co_id}" title="立即申请该职位" class="d-job-app app_jobs" ><b></b><span>查看该职位</span></a></p>
            
               <p class="pos-time"></p>
              &nbsp </div>
          </li>
</volist>
                  </ul>
      </div>
          </form>
       </div>
   <div class="clear"></div>
<div class="page-next">{$page}<div class="clear"></div><div class="clear"></div></div></div>
<div class="clear"></div>
<include file="Common:foot" />
</body>
</html>