
<header>
  <div id="top">
      <h1 class="logo"><a href="http://www.sdspring.cn"><img src="__PUBLIC__/home/data/images/logo.png" width="193" height="45" /></a></h1>
        <nav class="list">
            <a href="__MODULE__" class="selected">首页</a>
            <a href="__MODULE__/News/info_select">就业快讯</a>
            <a href="__MODULE__/Return/huizhi">入职信息</a>
            <a href="__MODULE__/Return/serve">就业跟踪</a>
            <a href="__MODULE__/Shuoshuo/index_select">我要说说</a>
        </nav>
        <form action="#" method="post" id="search">
          <input type="search" class="sear" placeholder="搜索…" />
            <input type="submit" class="sub" value="" />
        </form>
    </div><!--/top-->
</header>

