<div class="left_menu_home"><a href="__MODULE__/Vip/comvip" style="color:#990000">中心首页</a>
<a href="__MODULE__/Company/company" style="color:#990000" target="_blank">预览企业</a>
</div>
<div class="left_menu_box" id="info">
<div class="left_menu_bg">
	<div class="left_menu_tit">公司信息</div>
	<div class="left_menu_img"><img src="__PUBLIC__/home/templates/default/images/07.gif"  border="0" /></div>
	<div class="clear"></div>
</div>
<div class="left_menu_btop">
		<ul>
		<li><a href="__MODULE__/Company/com_info">基本信息</a></li>
	
		<li><a href="__MODULE__/Company/logo">企业Logo</a></li>
	
		<div class="clear"></div>
		</ul>
</div>
</div>
<div class="left_menu_box" id="index">
	<div class="left_menu_bg">
		<div class="left_menu_tit">职位管理</div>
		<div class="left_menu_img"><img src="__PUBLIC__/home/templates/default/images/07.gif"  border="0" /></div>
		<div class="clear"></div>
	</div>
	<div class="left_menu_btop">
	<ul>
			<li><a href="__MODULE__/Company/recruit" >发布职位</a></li>
			<li><a href="__MODULE__/Company/jobs">职位管理</a></li>	
			<div class="clear"></div>		
	  </ul>
	</div>
</div>


<div class="left_menu_box" id="recruitment">
<div class="left_menu_bg">
	<div class="left_menu_tit">招聘管理</div>
	<div class="left_menu_img"><img src="__PUBLIC__/home/templates/default/images/07.gif"  border="0" /></div>
	<div class="clear"></div>
</div>
<div class="left_menu_btop">
<ul>
	
		<li><a href="__MODULE__/Company/jian">简历管理</a></li>		
		<li><a href="__MODULE__/Student/stu_list">招聘人才</a></li>		
		<div class="clear"></div>
	</ul>
</div>
</div>
<div class="left_menu_box" id="user" style="border-bottom:1px;">
	<div class="left_menu_bg">
		<div class="left_menu_tit">账户管理</div>
		<div class="left_menu_img"><img src="__PUBLIC__/home/templates/default/images/07.gif"  border="0" /></div>
		<div class="clear"></div>
	</div>
	<div class="left_menu_btop">
		<ul>
		<li><a href="__MODULE__/Return/advice">意见建议</a></li>
		<li><a href="__MODULE__/Vip/protect">密码保护</a></li>
		<li><a href="__MODULE__/Vip/update">密码修改</a></li>
		<li><a href="__MODULE__/Index/tc">安全退出</a></li>
		<div class="clear"></div>
		</ul>
	</div>
</div>	